html {
  font-size: 10px;
}
@media screen and (max-width: 320px) {
  html {
    font-size: 10px;
  }
}
@media screen and (min-width: 321px) and (max-width: 480px) {
  html {
    font-size: 11px;
  }
}
@media screen and (min-width: 481px) and (max-width: 720px) {
  html {
    font-size: 12px;
  }
}
@media screen and (min-width: 721px) and (max-width: 1024px) {
  html {
    font-size: 13px;
  }
}
@media screen and (min-width: 1025px) and (max-width: 1199px) {
  html {
    font-size: 13px;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1399px) {
  html {
    font-size: 14px;
  }
}
@media screen and (min-width: 1400px) and (max-width: 1599px) {
  html {
    font-size: 15px;
  }
}
@media screen and (min-width: 1600px) {
  html {
    font-size: 16px;
  }
}
